{% extends "base.html" %}
{%set my_prod_count = products_invisible|list|length + products_visible|list|length%}
{%set for_sale_prod_count = products_for_sale|list|length%}
{% block content %}


{% if not products_for_sale%}
<a href="/product" class="btn btn-secondary" style="margin-top: 10px;">Добавить товар</a>
        {%set inv_prod_count = products_invisible|list|length%}    
        <h3><span style="font-weight:normal">Ваши скрытые товары</span> ({{ inv_prod_count }}/{{my_prod_count}})</h3>
        {% if inv_prod_count > 0 %}
        <div class="col-md3 border rounded">
            {% for item in products_invisible %}
            <div class="col-md6 border rounded" style="background-color:rgb(224, 224, 221);">
                <div class="post-thumb"><img src="{{url_for('static', filename='uploads/'+item.photo)}}" width="256" height="256"></div>
                <div class="post-content">
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.description }}</p>
                    <p>Дата написания - {{ item.created_date }}</p>
                    <p>Автор - {{ item.user.name }}</p>
                    <p>Категория - {{ item.category }}</p>
                    <p>Расположение - {{ item.location }}</p>
                    <p>Цена - {{ item.price }}</p>
                </div>
                <div>
                    <a href="/product_pub/{{ item.id }}" class="btn btn-success">Опубликовать</a>
                    <a href="/product/{{ item.id }}" class="btn btn-warning">Изменить</a>
                    <a href="/product_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {%endif%}

        {%set vis_prod_count = products_visible|list|length%}
        <h3><span style="font-weight:normal">Ваши опубликованные товары</span> ({{vis_prod_count }}/{{my_prod_count}})</h3> 
        {% if vis_prod_count > 0 %}
        <div class="col-md3 border rounded">
            {% for item in products_visible %}
            <div class="col-md6 border rounded">
                <div class="post-thumb"><img src="{{url_for('static', filename='uploads/'+item.photo)}}" width="256" height="256"></div>
                <div class="post-content">
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.description }}</p>
                    <p>Дата написания - {{ item.created_date }}</p>
                    <p>Автор - {{ item.user.name }}</p>
                    <p>Категория - {{ item.category }}</p>
                    <p>Расположение - {{ item.location }}</p>
                    <p>Цена - {{ item.price }}</p>
                </div>
                <div>
                    <a href="/product/{{ item.id }}" class="btn btn-warning">Изменить</a>
                    <a href="/product_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
                    <a href="/product_hide/{{ item.id }}" class="btn" style="background-color:black;color: white;">Спрятать</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

{% endif%}

{% if (not products_invisible) and (not products_visible)%}
    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{{url_for('search')}}" method="POST" style="margin-top: 30px;">
        <input type="search" class="form-control" placeholder="{{searchbar_title}}" aria-label="Search" name="searchbar">
        <a href="/" class="btn btn-outline-primary me-2" style="margin-top: 10px;">Очистить поиск</a>
    </form>
    <h3 style="text-align:center; margin-top: 50px"><span style="font-weight:normal">Доступные для заказа товары</span> 
        ({{for_sale_prod_count}})</h3>
    {% if for_sale_prod_count > 0%}
    <div class="col-md3 border rounded">
        {% for item in products_for_sale %}
        <div class="col-md6 border rounded">
            <div class="post-thumb"><img src="{{url_for('static', filename='uploads/'+item.photo)}}" width="256" height="256"></div>
            <div class="post-content">
                <h2>{{ item.title }}</h2>
                <p>{{ item.description }}</p>
                <p>Дата написания - {{ item.created_date }}</p>
                <p>Автор - {{ item.user.name }}</p>
                <p>Категория - {{ item.category }}</p>
                <p>Расположение - {{ item.location }}</p>
                <p>Цена - {{ item.price }}</p>
            </div>
            <div>
                <a href="/product/{{item.id}}/map" class="btn btn-primary me-2">Показать карту</a>
                {% if current_user.is_authenticated %}
                    <a href="/product/{{item.id}}/buy" class="btn btn-warning me-2">Купить</a>
                {%else%}
                    <a href="/register" class="btn btn-warning me-2">Купить</a>
                {% endif%}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif%}
{% endif%}
{% endblock %}
